.userSignup_countryTitle {
    width: 120px;
    font-size: 14px;
}

.userSignup_regionTitle {
    width: 115px;
    font-size: 14px;
}

.userSignup_selectCountry {
    width: 100%;
    border: 0;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 16px;
    outline: none;
}

.userSignup_selectRegion {
    width: 100%;
    border: 0;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 16px;
    outline: none;
}